.header {
    background: #ffffff;
}

.header__inner {
    margin: 0 auto;
    padding: 1.5vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4vw;
}

.header a:hover {
    color: #555555;
}


.main {
    background: #f0f0f0;
}

.footer {
    background: #fff;
    text-align: center;
}

.footer__inner {
    margin: 0 auto;
}

.footer__logo {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
}

.footer a:hover {
    color: #555555;
}