.header__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: auto;
}

.nav__list-item {
    margin-left: 3vw;

}

.nav__list-item a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    height: 2vw;
    font-size: 1.3vw;
}

.button-logout {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    display: block;
    font-size: 1.3vw;
    font-weight: bold;
}


.content {
    margin: 0 auto;
    padding: 3vw 1.5vw 10vw;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    text-align: center;
    font-size: 1.3vw;
}

.heading h2 {
    margin: auto 1vw;
}

.form_yesterday,
.form_tommorow {
    height: 200%;

}

.button_yesterday,
.button_tommorow {
    display: block;
    width: 2vw;
    height: 2vw;
    margin: auto 1vw;
    background: #ffffff;
    color: #0044ff;
    text-decoration: none;
    text-align: center;
    border: solid 1px #0044ff;
    font-size: 1.3vw;
}

.roaster_list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: solid 1px #778ca3;
}

.roaster_list-head,
.roaster_list-item {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
}


.page {
    text-align: center;
    margin: auto;
    
}
.pagination{
    text-decoration: none;
    list-style: none;
    

}

.pagination li{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    text-decoration: none;
    list-style: none;
}

.pagination li.active{
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

.pagination li:hover:not(.active) {
    background-color: #ddd;
}

.pagination li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}